
Service temporarily unavailable!! 
<form id="registration-form" class="forms">
<mat-label style="font-weight: 700;">Register</mat-label><br><br>
<table>
<tr>
    <td class="table-data">
        <mat-form-field class="name-field" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput required type="text">
        </mat-form-field>
    </td>
    <td class="table-data">
        <mat-form-field class="email-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput required type="email">
        </mat-form-field>
    </td>

</tr>
<tr>
    <td class="table-data">
        <mat-form-field class="mobile-field" appearance="outline">
            <mat-label>Mobile no.</mat-label>
            <input matInput required type="mob">
        </mat-form-field>
    </td>
    <td class="table-data">
        <mat-form-field class="password-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput required type="password">
            <mat-hint align="end">Min 8 characters</mat-hint>
        </mat-form-field>
    </td>

</tr>
</table>
<br>
    <button mat-raised-button>Submit</button>

</form>